{% extends 'main.html' %}

{% block content %}

<!--If the page variable is register render out register form else login form-->
{% if page == 'register' %}
<h1>Register User</h1>
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
<!--Wrap paragraph tag around each input field for better viewing of the page-->
    {{form.as_p}}
    <input type="submit" value="Register User" />
</form>
<!--Prompt the user to the login form if already have an account-->
<p>Already have an account?<a href="{% url 'login' %}">Login</a></p>
{% else %}
<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username"/>
    <input type="password" name="password" placeholder="Enter password"/>
    <input type="submit" value="Login"/>
<!--Prompt the user to the register form if they don't have an account-->
    <p>Don't have an account?<a href="{% url 'register' %}">Sign Up</a></p>
</form>
{% endif %}
{% endblock %}